<div class="container">
    <div class="row footer-text">
        <div class="col-12 col-md text-center text-md-left nav-link text-white">
            Copyright &copy; My Organisation - 2020 All rights reserved.
        </div>
    </div>
</div>

<!-- JavaScript and dependencies -->

{{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
{{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

<script src="{{$js.RelPermalink}}" defer></script>

{{ $js := resources.Get "js/secret.js" | js.Build | minify }}
<script type="text/javascript" src="{{$js.RelPermalink }}" defer></script>
